<!--<h1 #para>Parent Element Component</h1>
<h1>{{ title }}</h1>
<p>current count of child from PARENT IS: {{ child.count }}</p>
<button (click)="increment()">Increment</button>
<button (click)="decrement()">decrement</button>
<hr />
<app-child></app-child>-->

<!--<app-child>
  <header><h1 #header style="color: red">React</h1></header>
  <content>A JavaScript library for building user interfaces</content>
  <footer><b>Facebook Open Source </b></footer>
</app-child>

<app-child>
  <header><h1 #header>Typescript</h1></header>
  <content
    ><a href="https://www.tektutorialshub.com/typescript-tutorial/">
      Typescript</a
    >
    is a javascript for any scale</content
  >
  <footer><i>Microsoft </i></footer>
</app-child>-->
